.cool-button-thing {
    border-radius: 16px;
    height: 238px;
    position: relative;
    width: 286px;
}

.cool-button-thing .text-wrapper {
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 201px;
}

.cool-button-thing .image {
    height: 91px;
    left: 98px;
    object-fit: cover;
    position: absolute;
    width: 91px;
}

.cool-button-thing.default {
    background-color: #f9f6e6;
}

.cool-button-thing.variant-2 {
    background-color: #bad8b6;
}

.cool-button-thing.default .text-wrapper {
    color: #000000;
}

.cool-button-thing.variant-2 .text-wrapper {
    color: #ffffff;
}

.cool-button-thing.default .image {
    top: 17px;
}

.cool-button-thing.variant-2 .image {
    top: 13px;
}
