.cool-button {
    border-radius: 16px;
    height: 238px;
    position: relative;
    width: 286px;
}

.cool-button .text-wrapper {
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 201px;
}

.cool-button .image {
    height: 98px;
    left: 94px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 98px;
}

.cool-button .overlap-group {
    height: 98px;
    left: 94px;
    position: absolute;
    top: 17px;
    width: 98px;
}

.cool-button .div {
    height: 87px;
    left: 6px;
    position: absolute;
    top: 3px;
    width: 87px;
}

.cool-button .img {
    height: 98px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 98px;
}

.cool-button.default {
    background-color: #f9f6e6;
}

.cool-button.variant-2 {
    background-color: #bad8b6;
}

.cool-button.default .text-wrapper {
    color: #000000;
}

.cool-button.variant-2 .text-wrapper {
    color: #ffffff;
}
